<launch>

	<group ns="m7">
		<node name="sensor_fusion" pkg="m7_sensor_fusion" type="sensor_fusion" output="screen"/>
	</group>
	
	<node pkg="tf" type="static_transform_publisher" name="IMU_base" 
			args="0.01 -0.034 0 0 0 0 /imu_frame /base_link 100"/>
			
	<node pkg="tf" type="static_transform_publisher" name="base_camera" 
			args="0.096 0 0.023 0 -0.087266 0 /base_link /camera_frame 100"/> 
	
</launch>