<launch>

	<param name="use_sim_time" value="true"/>

	<node name="sensor_fusion" pkg="m7_sensor_fusion" type="sensor_fusion" output="screen"/>
	
	
	<param name="m7_description" command="cat $(find m7_master)/urdf/m7_robot.urdf" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="m7_state_pub" >
      <remap from="robot_description" to="m7_description" />
      <remap from="joint_states" to="/arm/jointStates" />
	</node>
	
	<node pkg="dipa" type="dipa_node" name="dipa_node" output="screen">
	</node>
	
	<node name="image_proc" pkg="image_proc" type="image_proc" ns="bottom_camera"/>
	
</launch>